---
import AppLayout from "../../../layouts/AppLayout.astro";
import { Icon } from "astro-icon/components";
---

<AppLayout title="Job Translator App">
  <header class="p-4 mb-2">
    <h1 class="text-3xl text-center font-bold text-black">Job Translator</h1>
  </header>
  <article class="h-full p-4 text-xl">
    <ul>
      <li>Closing date for applications: Sunday 4th February at 11:59pm</li>
      <li>Interviews: Week of 13th February</li>
      <li>Start date: Early March 2024</li>
      <li>Salary: £28,000 per annum, pro-rata</li>
      <li>Internship duration: 6 months</li>
      <li>Hours: 10am-6pm, Monday to Friday</li>
      <li>Location: Based in London with at least 3 office days / week.</li>
    </ul>

    <p>
      Uncover captivating stories, sharpen your journalistic skills, and gain
      invaluable experience in the world of media during this six-month
      internship with The Economist's 1843 magazine.
    </p>
    <p>
      We are looking for an aspiring journalist to join us for six months on The
      Economist’s 1843 magazine, named for the year The Economist was founded.
      We specialise in features and <span class=" bg-yellow-300 rounded-full">narrative journalism</span>. Former interns have
      gone on to work for The Economist.
    </p>
    <p>
      The role will include learning about every aspect of production; there
      will be opportunities to pitch and write stories for The Economist and
      1843 magazine, as well as ample fact-checking responsibilities and
      administrative tasks.
    </p>
    <p>
      Before submitting your application, please see the 'to apply' section at
      the bottom of this listing, as it contains important instructions
      regarding the application task that must be submitted alongside your CV.
    </p>
    <p>
      What you'll be doing Fact-checking and research Writing social-media posts
      Suggesting ideas for features Proofreading Reporting Assisting in awards
      applications Checking and maintaining the 1843 email account Writing the
      weekly newsletter Attending meetings on behalf of the department
      Administrative tasks Who we're looking for Smart, entrepreneurial, curious
      and a quick learner Brimming with ideas and keen to learn about every
      aspect of journalism, from written content to art direction, design,
      photography and social media A voracious reader with a keen eye for detail
      and a sense of how to tell stories with individuals at the heart A record
      of academic achievement and evidence of strong critical thinking skills.
      To apply Log in to your Creative Access account or register today to apply
      for this opportunity After clicking the 'apply' button, you will be
      directed to the application form Once you have completed and submitted the
      form, you can no longer amend your application, so proof-read carefully Do
      not contact the company directly Please email any queries about this role
      to Creative Access at this address: recruit@creativeaccess.org.uk As part
      of your application – alongside a CV and cover letter – please write a
      short critique of the 1843 piece on a WhatsApp-driven kidnapping scare,
      outlining its strengths and weaknesses. Don’t be afraid of being harsh –
      we are our own sternest critics, and none of our pieces are perfect.
      Please also come up with three ideas for how we could turn news in the
      headlines into magazine pieces that tell the stories of individuals. For
      example, last year we ran a piece about one person’s experience working
      with an AI chatbot. If you are called for interview, we will also ask you
      to do a short fact-checking exercise. Below are a few recent 1843 stories
      that we’ve particularly enjoyed. The links below are free to read. You can
      read more 1843 content by registering with The Economist, which gives you
      access to five articles a month free. The second world war turned Okinawa
      into a graveyard. Now it is in China’s sights. Why have pregnant Russians
      flocked to Argentina since the invasion of Ukraine? The last drag queens
      of Tennessee. The mystery of Morocco’s missing king. For more information
      on the types of pieces 1843 publishes – and what you could write for the
      application – read the pitching guidelines. This opportunity is only open
      to individuals from a group that is under-represented in the creative
      industries. This includes, but is not limited to Black, Asian and
      ethnically diverse candidates, disabled people, those undergoing gender
      reassignment / transitioning and individuals from lower socioeconomic
      backgrounds. The successful candidate for this opportunity will also
      participate in a Creative Access support programme that sits alongside
      workplace training. This includes a programme of induction training,
      monthly masterclasses, wellbeing support, buddying / mentoring and more.
    </p>

    Level of experience Entry
  </article>
  <footer class="p-4">footer</footer>
  <aside
    class="fixed bottom-0 left-2 right-2 h-24 hover:h-64 max-h-1/2 p-2 rounded-lg rounded-b-none bg-slate-400 opacity-95 transition-all ease-in-out duration-300 hover:opacity-100 hover:shadow-xl"
  >
    <div class="flex flex-row items-center justify-center gap-4">
      <button class="text-white bg-blue-500 rounded-full p-3 text-2xl hover:scale-110 transition-all ease-in-out hover:drop-shadow-md"
        ><Icon name="bi:highlighter" /></button
      >
      <button class="text-white bg-blue-500 rounded-full p-3 text-2xl hover:scale-110 transition-all ease-in-out hover:drop-shadow-md"
        ><Icon name="bi:magic" /></button
      >
      <button class="text-white bg-blue-500 rounded-full p-3 text-2xl hover:scale-110 transition-all ease-in-out hover:drop-shadow-md"
        ><Icon name="bi:translate" /></button
      >
      <button class="text-white bg-blue-500 rounded-full p-3 text-2xl hover:scale-110 transition-all ease-in-out hover:drop-shadow-md"
        ><Icon name="bi:chat-dots-fill" /></button
      >
    </div>
  </aside>
</AppLayout>
