---

---

<header class="px-2 py-6 lg:px-0 mb-4 grid grid-flow-row grid-cols-2">
  <a href="/" class="flex flex-row gap-2 items-center justify-start">
    <img class="h-12 lg:h-16 w-auto block dark:hidden" src="/mbl-light.png" />
    <img class="h-12 lg:h-16 w-auto hidden dark:block" src="/mbl-dark.png" />
  </a>
  <div class="flex flex-row items-center justify-end gap-2">
    <div class="hidden lg:flex">
      <h2 class="text-2xl text-gray-900 dark:text-slate-100">
        Mobilised Social Tech
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-slate-400"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
  </div>
</header>
