---

---

<div class="relative my-8 bg-slate-400 dark:bg-slate-700 rounded-lg
        min-h-96 shadow-md">
  <!-- <div
    data-element-type="bleed"
    class="absolute -z-10 -left-[calc(50vw-50%)] -right-[calc(50vw-50%)]
        top-3 bottom-3 bg-slate-400 dark:bg-slate-700 opacity-50"
  >
  </div> -->
  <slot />
</div>
