---
import AppLayout from "../../layouts/AppLayout.astro";
import RandomImage from "../../components/RandomImage.astro";

const messages = [
    "OK, We've got a lot to do here! let's get you onboarded...",
    "Let's start with the simple stuff...",
    "Now you can do something a little more complicated, but don't worry, we're here to help",
]

const button = [
    "I'm ready, let's go",
    "Sounds good, tell me more",
    "Let's do this!"
]

---

<AppLayout title="Job Translator App">
  <div class="absolute inset-0 w-full h-full overflow-hidden grid grid-rows-8">
    <div class="row-span-2 p-8">
      <h1 class="text-4xl text-slate-800 text-center tracking-tight font-bold mb-2 pt-4">Job Translator App</h1>
      <p class="text-xl text-slate-600 text-center text-balance mx-10 leading-8">OK, We've got a lot to do here! let's get you onboarded...</p>
    </div>
    <div class="row-span-4 p-8"><RandomImage /></div>
    <div class="row-span-2 flex flex-col items-center justify-center">
        <a href={`/app/1`} class="text-lg rounded-full bg-slate-400 px-6 py-4">OK Got It?</a>
    </div>
  </div>
</AppLayout>

