---
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import { sanityClient } from 'sanity:client'
import Prose from "../../components/Prose.astro";
import PortableText from "../../components/PortableText.astro";

export async function getStaticPaths() {
  const pageEntries = await sanityClient.fetch(`*[_type == "page"]`)
  return pageEntries.map(p => ({ params: { page: p.slug.current }, props: { ...p }}));
}

const { page } = Astro.params;
const { title, content } = Astro.props; 

---

<Layout title="">
  <Section name="hero">
    <h1 class="text-5xl font-bold tracking-tight text-slate-800 dark:text-white mb-8">
      {title}
    </h1>
    <Prose><PortableText portableText={content} /></Prose>
  </Section>
</Layout>
